# 필수
REGISTRY_NAME="mncregistry:30500/"
IMAGE_NAME="mnc/doc-parser-preprocessor"
IMAGE_TAG="1.3.3-komipo"
DESCRIPTION="unified-preprocessor"

# K8s / DB 파드 위치
K8S_NAMESPACE="llmops"
MARIADB_POD="mariadb-mariadb-galera-0"
# 파드에 컨테이너가 여러 개면 선택 (없으면 비워두기)
# MARIADB_CONTAINER="mariadb"

# 입력 기본값(옵션): 프롬프트에서 Enter 시 사용
DEFAULT_MYSQL_USER="root"
DEFAULT_MYSQL_PASS=""   # 비워두면 프롬프트에서 암호 입력받음 사이트에서 사용 시 입력하지 마시오.